.movie-search__grid {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  list-style: none;
}

.movie__poster {
  width: 100%;
  border-radius: 8px;
}

.movie__title {
  margin-block: 0;
}

.movie__year {
  color: #c0c0c0;
  font-size: 0.9rem;
}
