.movie-search__page {
  padding-block: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-search__form {
  margin-block-end: 32px;
  display: flex;
  flex-direction: column;
}

.movie-search__form input {
  max-width: unset;
}

.movie-search__grid {
  margin-inline: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  list-style: none;
}
