header {
  border-block-end: 1px solid #726b6b;
}

header h1 {
  text-align: left;
}

.filters {
  margin-block-end: 0.5rem;
  display: flex;
  justify-content: space-between;
}

@media (width <= 580px) {
  .filters {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.filters div {
  display: flex;
  gap: 0.5rem;
}

.filter__category select {
  font: inherit;
}
